* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  height: 100vh;
}

.top {
  height: calc(100% - 70px);
  display: flex;
}

.bottom {
  height: 70px;
  background-color: grey;
}

.sidebar {
  background-color: black;
  color: white;
  width: 230px;
  height: 100%;
}

.content {
  width: calc(100% - 230px);
  background-color: #f7bdbd;

  .upgrade {
    background-color: #141922;

    .btn-upgrade {
      color: white;
    }
  }
}
ul img {
  width: 1.7rem;
}

.button-sidebar {
  li a {
    display: flex;
    align-items: center;
    padding: 1rem;

    .text-grey {
      margin: 0.75rem;
    }
  }
}
