* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  background-color: rgb(76, 37, 182);
  height: 100vh;
}

.top {
  height: calc(100% - 70px);
  display: flex;
}

.bottom {
  height: 70px;
  background-color: grey;
}

.sidebar {
  background-color: black;
  color: white;
  width: 230px;
  height: 100%;
}

.content {
  width: calc(100% - 230px);
  background-color: #fff;

  .upgrade {
    background-color: #141922;
  }
}
ul li {
  width: 2rem;
}
